/*
Accent: AD1400,
Background: F2E0BB
Primary: 2BBBE3
Fill: 0E108F
Tertiary: 69B01C
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}


html, body {
    background: #fff9ed;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.widthConstraint {
	position: relative;
	margin: 0px auto;
	width: 900px;
}

/* @group Basic elements */

a {
	color: #69B01C;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	border-bottom: 1px dashed #2BBBE3;
	color: #2BBBE3;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16pt;
	text-align: justify;
}

h1 {
	font-size: 30pt;
	font-style: italic;
	font-weight: bold;
}

ul.bulleted li {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16pt;
	list-style-type: square;
	list-style-position: inside;
	padding: 5px 20px;
}

/* @end */

/* @group Header */

#header {
	position: relative;
	display: block;
	background: #AD1400;
	height: 220px;
	border-bottom: 14px solid #000000;
}

#header h1 {
	position: relative;
	display: block;
	letter-spacing: -5px;
	font-size: 80pt;
	padding: 60px 0px 40px;
	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
	left: 0px;
	text-shadow: #162e00 2px 2px 4px;
}

#header h2 {
	color: #F2E0BB;
	font-size: 23pt;
	font-weight: normal;
	position: absolute;
	bottom: 28px;
	left: 175px;
	text-shadow: #162e00 1px 1px 2px;
}

#header #navigation {
	position: absolute;
	display: block;
	background: #2BBBE3;
	border: 4px solid #F2E0BB;
	border-top: none;
	padding: 20px 15px 10px;
	top: 0px;
	right: 0px;
	text-align: center;
}

#header #navigation a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 20pt;
	text-transform: uppercase;
	line-height: 0.8;
	letter-spacing: -0.05em;
}

#header #navigation a:hover {
	color: #a2ff3e;
}

/* @end */


#mainContent {
	display: block;
	min-height: 400px;
	padding-bottom: 40px;
	border-bottom: 9px solid #000;
}

.article {
	padding: 40px 0px 0px;
}

.article h1 {
	text-shadow: #333 1px 1px 1px;
	padding-bottom: 3px;
	margin-bottom: 16px;
	border-bottom: 2px dashed #555;
	color: #2BBBE3;
}

.article h2 {
	font-size: 18pt;
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: 16px;
	border-bottom: 1px dashed #868686;
	color: #69B01C;
}

.tryItNow {
	border: 2px dashed #4f8415;
	width: 250px;
	margin: 30px auto 0px;
	padding: 20px;
	font-size: 30pt;
	text-align: center;
	background: #bbff72;
}

#footer {
	position: relative;
	display: block;
	background: #346e00;
	height: 100px;
}

#copyright {
	text-align: center;
	padding: 30px;
	color: #284013;
}